# build artifacts (VB)
.generated_files/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# added by VB
*.elf
*.hex
/Lab-03-starter/firmware/Lab-03-starter.X/build/
/Lab-03-starter/firmware/Lab-03-starter.X/dist/
*.s~
*.un~
/Lab-03-starter/firmware/Lab-03-starter.X/nbproject/private
Lab-03-starter/firmware/Lab-03-starter.X/nbproject/Makefile-genesis.properties
Lab-03-starter/firmware/Lab-03-starter.X/nbproject/.DS_Store
Lab-03-starter/firmware/.DS_Store
Lab-03-starter/firmware/.DS_Store
Lab-03-starter/firmware/src/.DS_Store
Lab-03-starter/firmware/.DS_Store
Lab-03-starter/firmware/src/config/.DS_Store
Lab-03-starter/firmware/Lab-03-starter.X/.DS_Store
Lab-03-starter/firmware/Lab-03-starter.X/nbproject/Makefile-genesis.properties
Lab-03-starter/firmware/Lab-03-starter.X/nbproject/Makefile-genesis.properties
